<div class="row">
  <% if notice then %>
    <div class="medium-12 columns">
      <br/>
      <p class="callout primary"><%= notice %></p>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h1>Pages</h1>
    <%= link_to 'New', new_page_path, class: "button" %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <table>
        <% @pages.each do |page| %>
          <tr>
            <td><%= link_to page.name, edit_page_path(page) %></td>
            <td><%= link_to 'Show', page %></td>
            <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>
