<div class="row">
  <div class="medium-12 columns">
    <p class="callout primary"><%= notice %></p>
  </div>
  <div class="medium-12 columns">
    <h1>Pages</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Content</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @pages.each do |page| %>
          <tr>
            <td><%= page.name %></td>
            <td><%= page.content %></td>
            <td><%= link_to 'Show', page %></td>
            <td><%= link_to 'Edit', edit_page_path(page) %></td>
            <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="medium-12 columns">
    <%= link_to 'New Page', new_page_path, class: "button" %>
  </div>
</div>
