<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "DevsBlog" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <ul class="vertical menu">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="offCanvas"></button>
            <span class="title-bar-title">Foundation</span>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
